<html>
    <script src="/Event.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.6.0/socket.io.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <head>
        <meta charest="UTF-8">
        <title>Test</title>
    </head>
    <body>
        <form action="/go" method="POST">
            ID&nbsp;:&nbsp;<input type="text"  value="test1" id="ids" name="ids"/><br>
            PW:<input type="password" value="1111" id="password" name="password" />
            <input type="submit" value="login" id="ok" />
        </form>
    </body>
</html>